:root{
    --colorTextos: #18161673;
}


.container1{
    width: 1550px;
    position: absolute;
    top: 200px;
    left: 25px;
    text-align: center;
}

.h{
    position: absolute;
    left: 650px;
}
 
.titulo{
    position: absolute;
    top: 10px;
    left: 620px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}



.form1{
    background: #fff;
    width: 740px;
    height: 480px;
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 9px 0 #0586F9;
    position: absolute;
    left: 430px;
    top: 100px;
    
}

.form2{
    background: #fff;
    width: 740px;
    height: 380px;
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 9px 0 #0586F9;
    position: absolute;
    left: 430px;
    top: 160px;   
}

.form3{
    background: #fff;
    width: 740px;
    height: 290px;
    font-family: Verdana;
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 9px 0 #0586F9;
    position: absolute;
    left: 430px;
    top: 100px;   
}


.form4{

    background: #fff;
    width: 740px;
    height: 430px;
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 9px 0 #0586F9;
    position: absolute;
    left: 430px;
    top: 100px;
}

.title{

    background:rgb(92, 187, 250); 
    color: aliceblue;
    position: relative;
    top: -10px;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}




.one-half,
.one-third {
    position: relative;
    margin-left: 3%;
    float: left;
        margin-bottom: 30px;
 
}
 
.one-half { width: 45%; }
.one-third { width: 30.66%; }
 
.last {
    margin-right: 2% !important;
    clear: right;
}

input{
    background: none;
    font-family: 'Poppins', sans-serif;
    color:#5a5555;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 317px;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

textarea{
    background: none;
    font-family: 'Poppins', sans-serif;
    color:#5a5555;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 690px;
    height: 100px;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(17, 16, 16);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 15px;
    color: #73C0F5;
    font-family: verdana;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.3s ease all;
    pointer-events: none;
    font-family: verdana;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background:#73C0F5;
    transition: 0.3s ease all;
    left: 0%;
}



.reset{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(172, 240, 234);
    color:  #2B32B2;
    display: block;
    width: 150px;
    height: 40px;
    border:none; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    position: absolute;
    top: 360px;
    left: 52%;
    cursor: pointer;
   
}

.reset:hover{
    background:#73C0F5;
    color:  whitesmoke;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgb(28, 29, 29);
    transition: all 0.2s ease;
}



.reset1{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: whitesmoke;
    color:  #2B32B2;
    display: block;
    width: 150px;
    height: 40px;
    border:none; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    position: absolute;
    top: 30px;
    left: 115%;
    cursor: pointer;
   
}

.reset1:hover{
    background: rgb(92, 187, 250);
    color:  whitesmoke;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgb(28, 29, 29);
    transition: all 0.2s ease;
}

.reset2{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(172, 240, 234);
    color:  #2B32B2;
    display: block;
    width: 150px;
    height: 40px;
    border:none; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    position: absolute;
    top: 305px;
    left: 52%;
    cursor: pointer;
   
}

.reset2:hover{
    background:#73C0F5;
    color:  whitesmoke;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgb(28, 29, 29);
    transition: all 0.2s ease;
}



.boton1{
    background:rgb(92, 187, 250);
    display: block;
    width: 150px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    position: absolute;
    left: 75%; 
    top: 360px;   
}

.boton1:hover{
    background: whitesmoke;
    color:  #2B32B2;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 16px #1488CC;
    transition: all 0.2s ease;
}


.boton2{
    background:linear-gradient(to right, #2B32B2, #1488CC);
    display: block;
    width: 150px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    position: absolute;
    left: 75%; 
    top: 230px;   
}

.boton2:hover{
    background: whitesmoke;
    color:  #2B32B2;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 16px #1488CC;
    transition: all 0.2s ease;
}
.boton3{
    background:rgb(92, 187, 250);
    display: block;
    width: 150px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    position: absolute;
    left: 75%; 
    top: 305px;   
}

.boton3:hover{
    background: whitesmoke;
    color:  #2B32B2;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 16px #1488CC;
    transition: all 0.2s ease;
}

.actualizar{
    background:linear-gradient(to right, #2B32B2, #1488CC);
    display: block;
    width: 200px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    position: absolute;
    top: 255px;
    left: 65%; 
       
}

.actualizar:hover{
    background: whitesmoke;
    color:  #2B32B2;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 16px #1488CC;
    transition: all 0.2s ease;
}

.ruta{
    height: 30px;
}


.close{
    position: absolute;
    left: 705px;
    top: 5px;
    background: #73C0F5;
    border-radius: 30%;
}

svg{
    position: absolute;
    top: 20px;
}

table{
    text-align: left;
}

thead, tfoot {
    background: #51afee;
    color: white;
    
  }

tbody tr:nth-child(odd) {
    background-color: #b4dcf6;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f6fafd;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #555; }
    .table th,
    .table td {
      padding: 1.875rem;
      vertical-align: top;
      border-top: 1px solid #5f4242; }
    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #dddddd; }
    .table tbody + tbody {
      border-top: 2px solid #dddddd; }
  
  .table-sm th,
  .table-sm td {
    padding: 1.25rem; }
  
  .table-bordered {
    border: 1px solid #dddddd; }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #dddddd; }
    .table-bordered thead th,
    .table-bordered thead td {
      border-bottom-width: 2px; }
  
  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody + tbody {
    border: 0; }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05); }
  
  .table-hover tbody tr:hover {
    color: #555;
    background-color: rgba(0, 0, 0, 0.075); }
  
  .table-primary,
  .table-primary > th,
  .table-primary > td {
    background-color: #cee1ce; }
  
  .table-primary th,
  .table-primary td,
  .table-primary thead th,
  .table-primary tbody + tbody {
    border-color: #a3c7a3; }
  
  .table-hover .table-primary:hover {
    background-color: #bed7be; }
    .table-hover .table-primary:hover > td,
    .table-hover .table-primary:hover > th {
      background-color: #bed7be; }
  
  .table-secondary,
  .table-secondary > th,
  .table-secondary > td {
    background-color: whitesmoke; }
  
  .table-secondary th,
  .table-secondary td,
  .table-secondary thead th,
  .table-secondary tbody + tbody {
    border-color: #ededed; }
  
  .table-hover .table-secondary:hover {
    background-color: #e8e8e8; }
    .table-hover .table-secondary:hover > td,
    .table-hover .table-secondary:hover > th {
      background-color: #e8e8e8; }
  
  .table-success,
  .table-success > th,
  .table-success > td {
    background-color: #cee1ce; }
  
  .table-success th,
  .table-success td,
  .table-success thead th,
  .table-success tbody + tbody {
    border-color: #a3c7a3; }
  
  .table-hover .table-success:hover {
    background-color: #bed7be; }
    .table-hover .table-success:hover > td,
    .table-hover .table-success:hover > th {
      background-color: #bed7be; }
  
  .table-info,
  .table-info > th,
  .table-info > td {
    background-color: #bee5eb; }
  
  .table-info th,
  .table-info td,
  .table-info thead th,
  .table-info tbody + tbody {
    border-color: #86cfda; }
  
  .table-hover .table-info:hover {
    background-color: #abdde5; }
    .table-hover .table-info:hover > td,
    .table-hover .table-info:hover > th {
      background-color: #abdde5; }
  
  .table-warning,
  .table-warning > th,
  .table-warning > td {
    background-color: #fcedbe; }
  
  .table-warning th,
  .table-warning td,
  .table-warning thead th,
  .table-warning tbody + tbody {
    border-color: #fadd86; }
  
  .table-hover .table-warning:hover {
    background-color: #fbe6a6; }
    .table-hover .table-warning:hover > td,
    .table-hover .table-warning:hover > th {
      background-color: #fbe6a6; }
  
  .table-danger,
  .table-danger > th,
  .table-danger > td {
    background-color: #f7d2cb; }
  
  .table-danger th,
  .table-danger td,
  .table-danger thead th,
  .table-danger tbody + tbody {
    border-color: #f0ab9f; }
  
  .table-hover .table-danger:hover {
    background-color: #f4bfb5; }
    .table-hover .table-danger:hover > td,
    .table-hover .table-danger:hover > th {
      background-color: #f4bfb5; }
  
  .table-light,
  .table-light > th,
  .table-light > td {
    background-color: #fbfbfb; }
  
  .table-light th,
  .table-light td,
  .table-light thead th,
  .table-light tbody + tbody {
    border-color: #f7f7f7; }
  
  .table-hover .table-light:hover {
    background-color: #eeeeee; }
    .table-hover .table-light:hover > td,
    .table-hover .table-light:hover > th {
      background-color: #eeeeee; }
  
  .table-dark,
  .table-dark > th,
  .table-dark > td {
    background-color: #bcbcbc; }
  
  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #838383; }
  
  .table-hover .table-dark:hover {
    background-color: #afafaf; }
    .table-hover .table-dark:hover > td,
    .table-hover .table-dark:hover > th {
      background-color: #afafaf; }
  
  .table-active,
  .table-active > th,
  .table-active > td {
    background-color: rgba(0, 0, 0, 0.075); }
  
  .table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075); }
    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
      background-color: rgba(0, 0, 0, 0.075); }
  
  .table .thead-dark th {
    color: #fff;
    background-color: #555;
    border-color: #686868; }
  
  .table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dddddd; }
  
  .table-dark {
    color: #fff;
    background-color: #555; }
    .table-dark th,
    .table-dark td,
    .table-dark thead th {
      border-color: #686868; }
    .table-dark.table-bordered {
      border: 0; }
    .table-dark.table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(255, 255, 255, 0.05); }
    .table-dark.table-hover tbody tr:hover {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.075); }
  
  @media (max-width: 575.98px) {
    .table-responsive-sm {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; }
      .table-responsive-sm > .table-bordered {
        border: 0; } }
  
  @media (max-width: 767.98px) {
    .table-responsive-md {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; }
      .table-responsive-md > .table-bordered {
        border: 0; } }
  
  @media (max-width: 1199.98px) {
    .table-responsive-lg {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; }
      .table-responsive-lg > .table-bordered {
        border: 0; } }
  
  @media (max-width: 1599.98px) {
    .table-responsive-xl {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; }
      .table-responsive-xl > .table-bordered {
        border: 0; } }
  
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive > .table-bordered {
      border: 0; }